{
  "openapi": "3.1.0",
  "info": {
    "title": "The Slow Net API",
    "description": "Programmatic access to manage your Slow Net account and site features. All authenticated requests require an API key sent in the `X-API-Key` HTTP header.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://theslow.net/api/",
      "description": "Production API server"
    },
    {
      "url": "http://localhost:3000/api/",
      "description": "Local development server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/account/get-display-name": {
      "get": {
        "summary": "Retrieve Display Name",
        "description": "Retrieves the current display name associated with the authenticated user's account.",
        "responses": {
          "200": {
            "description": "Successfully retrieved display name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayName"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/update-display-name": {
      "post": {
        "summary": "Update Display Name",
        "description": "Updates the display name for the authenticated user's account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newDisplayName": {
                    "type": "string",
                    "description": "The new display name for the account."
                  }
                },
                "required": [
                  "newDisplayName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Display name updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayName"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/email-forwarding/email-forwarding-status": {
      "get": {
        "summary": "Get Email Forwarding Status",
        "description": "Retrieves the current email forwarding status for the authenticated user.",
        "responses": {
          "200": {
            "description": "Successfully retrieved email forwarding status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/email-forwarding/email-forwarding-toggle": {
      "post": {
        "summary": "Toggle Email Forwarding",
        "description": "Toggles the email forwarding status for the authenticated user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Set to `true` to enable forwarding, `false` to disable."
                  }
                },
                "required": [
                  "enabled"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email forwarding status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/slowhooks/send-discord-webhook": {
      "post": {
        "summary": "Send Discord Webhook Message",
        "description": "Sends a new message to a configured Discord webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string",
                      "description": "The ID of the sent message, useful for editing."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid message content or webhook configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Edit Discord Webhook Message",
        "description": "Edits an existing message sent via a Discord webhook.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {
                    "type": "string",
                    "description": "The ID of the message to edit.",
                    "examples": ["123456789012345678"]
                  },
                  "content": {
                    "type": "string",
                    "description": "The new content for the message."
                  }
                },
                "required": [
                  "messageId",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message edited successfully."
          },
          "400": {
            "description": "Bad Request: Invalid message ID or content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Message ID not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/slownetsite/get-site-status": {
      "get": {
        "summary": "Get Site Visibility Status",
        "description": "Retrieves the current visibility status of the user's Slow Net site.",
        "responses": {
          "200": {
            "description": "Successfully retrieved site visibility status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/slownetsite/get-site-configuration": {
      "get": {
        "summary": "Retrieve Full Site Configuration",
        "description": "Retrieves the complete configuration for the authenticated user's Slow Net site, including bio, avatar, theme, and content blocks.",
        "responses": {
          "200": {
            "description": "Successfully retrieved site configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfiguration"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/slownetsite/toggle-site-visibility": {
      "post": {
        "summary": "Toggle Site Visibility",
        "description": "Toggles the public visibility of the user's Slow Net site.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "visible": {
                    "type": "boolean",
                    "description": "Set to `true` to make the site visible, `false` to hide it."
                  }
                },
                "required": [
                  "visible"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site visibility updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/slownetsite/update-site-configuration": {
      "post": {
        "summary": "Update Site Configuration",
        "description": "Updates various aspects of the authenticated user's Slow Net site configuration, such as bio, avatar, theme, or content blocks. Only provide fields you wish to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteConfigurationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site configuration updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteConfiguration"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DisplayName": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "The user's current display name."
          }
        },
        "required": [
          "displayName"
        ]
      },
      "ToggleStatus": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "The current enabled/disabled status."
          }
        },
        "required": [
          "enabled"
        ]
      },
      "DiscordMessage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "The message content to send to Discord."
          },
          "embeds": {
            "type": "array",
            "description": "Optional array of Discord embed objects.",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "content"
        ]
      },
      "SiteStatus": {
        "type": "object",
        "properties": {
          "visible": {
            "type": "boolean",
            "description": "Indicates if the Slow Net site is publicly visible."
          }
        },
        "required": [
          "visible"
        ]
      },
      "SiteConfiguration": {
        "type": "object",
        "properties": {
          "bio": {
            "type": "string",
            "description": "The user's biography."
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the user's avatar image."
          },
          "theme": {
            "type": "string",
            "description": "The selected site theme (e.g., 'dark', 'light', 'minimal')."
          },
          "blocks": {
            "type": "array",
            "description": "An array of content blocks for the site.",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "bio",
          "avatarUrl",
          "theme",
          "blocks"
        ]
      },
      "SiteConfigurationUpdate": {
        "type": "object",
        "properties": {
          "bio": {
            "type": "string",
            "description": "The user's biography."
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the user's avatar image."
          },
          "theme": {
            "type": "string",
            "description": "The selected site theme (e.g., 'dark', 'light', 'minimal')."
          },
          "blocks": {
            "type": "array",
            "description": "An array of content blocks for the site.",
            "items": {
              "type": "object"
            }
          }
        },
        "minProperties": 1,
        "description": "Fields to update in the site configuration. At least one field must be provided."
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "A human-readable error message."
          }
        },
        "required": [
          "message"
        ]
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API Key generated from the dashboard (UUID.SECRET_STRING)."
      }
    }
  }
}
